body {
    background-color: black;
    color: white;
}

/* this is for the first section of the page  */

.contact-page-1 {
    background-size: cover;
    background-position: center;
    display: flex;
    height: 90vh;
}

.contact-left-column {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.contact-img {
    border-radius: 25px;
}

.contact-right-column {
    width: 50%;
    padding-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.contact-title {
    font-size: 3rem;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.contact-desc {
    color: grey;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    padding: 2rem;
}

.follow {
    padding-right: 0.5rem;
}

a.social {
    margin: 0 0.5rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-2px);
}

a.github {
    color: white;
}

a.twitter {
    color: #1DA1F2;
}

a.facebook {
    color: #4267B2;
}

a.linkedln {
    color: #0072b1;
}

a.instagram {
    color: #bc2a8d;
}

.resume {
    padding: 10px 25px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: black;
    cursor: pointer;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.resume:hover {
    padding: 8px 23px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: white;
    background-color: black;
    border-radius: 4px;
    border: 2px solid white;
}

/* This is for the second section of the page  */

.contact-page-2 {
    background-image: url(../../Images/contact-backdrop.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    text-align: center;
    height: 70vh;
}

.inTouch {
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 1.5rem;
    text-align: center;
}

.contact-left-column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    width: 30%;
}

.contact-right-column-2 {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    width: 70%;
    height: 80%;
    border-left: 1px solid white;
}

.icon-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

.icon-text {
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
}

.fa-phone {
    color: green;
    font-size: 2rem;
}

.fa-envelope {
    color: orange;
    font-size: 2rem;
}

.fa-location-dot {
    color: #4267B2;
    font-size: 2rem;
}

.field {
    display: flex;
    flex-direction: column;
}
.info-label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 10px;
}

.info-input {
    background-color: rgb(64, 64, 64, 0.8);
    height: 30px;
    width: 80%;
    margin: auto;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.info-input:focus {
    background-color: rgb(64, 64, 64, 0.5);
}

.send {
    padding: 10px 25px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: black;
    cursor: pointer;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.send:hover {
    padding: 8px 23px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: white;
    background-color: black;
    border-radius: 4px;
    border: 2px solid white;
}


/* this is for the mobile section */

@media screen and (max-width: 800px) {
    .contact-page-1 {
        display: flex;
        flex-direction: column;
    }
    
    .contact-left-column {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        padding: 5%;
    }

    .contact-right-column {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .contact-title {
        font-size: 2rem;
        font-family: 'Open Sans', sans-serif;
        
    }
    
    .contact-desc {
        color: grey;
        font-size: 0.7rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }

    .resume {
        font-size: 14px;
    }

    .inTouch {
        font-size: 1.5rem;
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 1rem;
    }
    
    .icons {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .icon-section {
        padding: 10px;
    }
    
    .icon-text {
        color: white;
        font-size: 1rem;
        padding: 0.3rem;
    }
    
    .fa-phone {
        color: green;
        font-size: 2rem;
    }
    
    .fa-envelope {
        color: orange;
        font-size: 2rem;
    }
    
    .fa-location-dot {
        color: #4267B2;
        font-size: 2rem;
    }
}