.projects-page {
    margin-top: 10vh;
    text-align: center;
}

.projects-header {
    font-size: 5rem;
    text-shadow: 5px 5px 0px gray;
    padding: 0.5rem;
}

.projects-sub-header {
    font-size: 1.5rem;
    color: gray;
}

.project-grid {
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.project-layout {
    margin: 5%;
    position: relative;
    text-align: center;  
}

.proj-img {
    width: 100%;
}

.proj-img:hover {
    opacity: 0.15;
}

.project-layout-inner:hover + .proj-text {
    opacity: 100%;
    transition: all ease-in-out 0.3s;
}

.proj-text {
    display: flex;
    position: absolute;
    bottom: 55%;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    user-select: none;
    opacity: 0%;
    z-index: -1;
}

.project-layout-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    padding-bottom: none;
    z-index: 0;
}

.project-title {
    color: white;
    font-size: 1.5rem; 
    text-align: left;
}

.project-desc {
    color: gray;
    font-size: 1rem;
    text-align: left;
}

/* this is the section for project detailed info  */

.project-detailed-view {
    position: fixed;
    padding: 30px;
    top: 20%;
    width: 800px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -275px;/* Negative half of height. */
    margin-left: -400px;/* Negative half of width. */
    background-color: white;
    color: black;
    overflow: hidden;
    transition: all ease-in-out 0.4s;
}

.project-detailed-view-closed {
    opacity: 0;
    z-index: -2;
    position: fixed;
    padding: 30px;
    top: 20%;
    width: 800px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -275px;/* Negative half of height. */
    margin-left: -400px;/* Negative half of width. */
    background-color: white;
    color: black;
    overflow: hidden;
    transition: all ease-out 0.1s;
}

.blur {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0vh;
    background-color: rgb(0, 0, 0, 0.8);
    transition: all ease-in 0.2s;
}

.project-detailed-title {
    font-size: 2rem;
    padding: 0 0 20px 0;
}

.project-detailed-laptop-view {
    display: flex;
}

.project-detailed-sec {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.project-detailed-attribute-sec {
    display: flex;
    padding: 0 0 20px 0;
}

.project-detailed-attribute-title {
    margin-right: 10px;
    font-size: 16px;
    color: gray;
    width: 100px;
    text-align: left;
}

.project-detailed-attribute-desc {
    font-size: 16px;
    color: black;
    max-width: 220px;
    text-align: left;
}

.project-detailed-image {
    align-items: center;
    height: 350px;
    margin: 0 0 0 10px;
    
}

.fa-x {
    font-size: 1.5rem;
    position: absolute;
    right: 5%;
    padding: 10px;
    cursor: pointer;
}

.fa-arrow-left {
    font-size: 1.5rem;
    position: absolute;
    left: 5px;
    top: 50%;
    padding: 10px;
    cursor: pointer;
}

.fa-arrow-right {
    font-size: 1.5rem;
    position: absolute;
    right: 5px;
    top: 50%;
    padding: 10px;
    cursor: pointer;
}

.fa-file {
    font-size: 1.5rem;
    margin-left: 3px;
    margin-right: 10px;
    color: orange;
}

.fa-building {
    font-size: 1.5rem;
    margin-left: 3px;
    margin-right: 10px;
    color: orange;
}

.fa-microchip {
    font-size: 1.5rem;
    margin-right: 7px;
    color: orange;
}

@media screen and (max-width: 900px) {
    .projects-header {
        font-size: 2rem;
        text-shadow: 3px 3px 0px gray;
        overflow: hidden;
    }
}