body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

/* this is the publications header page sec  */

.pub-page {
    display: flex;
    background-color: #f7f7f7;
    height: 90vh;
    margin-top: 10vh;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes opacity {
    0% {
      opacity: 0.2;
      transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade {
    0% {
      opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.pub-page-img-sec {
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}

.pub-page-img {
    width: 100%;
}

.pub-page-title-sec {
    color: black;
    margin: auto;
    animation: 0.5s ease-in 0s 1 opacity;
}

.pub-page-sub-title {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: gray;
}

.pub-page-title {
    font-size: 3rem;
    padding-bottom: 5px;
}

.pub-buy-sec {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.fa-cart-shopping {
    font-size: 2rem;
    padding-right: 10px;
    color: orange;
}

.pub-buy-link {
    text-decoration: none;
}

.pub-buy {
    display: flex;
    outline: none;
    border: none;
    align-items: center;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
    background-color: black;
    font-size: 1rem;
    border-radius: 30px;
}

.pub-buy:hover {
    padding: 12px 17px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: black;
    background-color: inherit;
    border: 3px solid black;
} 

/* this is the book info section  */

.pub-page-info {
    display: flex;
    flex-direction: column;
}

.pub-books {
    padding: 12px;
    text-align: center;
    font-size: 3rem;
}

.pub-book-sec {
    display: flex;
    padding: 10px 5% 10px 5%;
}

.pub-book {
    display: flex;
    text-align: left;
    width: 60%;
    padding: 0 10px 0 0;
}

.pub-book-img-sec {
    width: 100%;
    max-width: 250px;
    align-items: center;
}

.pub-book-img {
    width: 100%;
}

.pub-book-info-sec {
    display: block;
    min-width: 200px;
}

.pub-book-title {
    font-size: 1.5rem;
    padding: 0px 10px 10px 5%;
}

.pub-book-owner {
    padding: 0px 10px 10px 5%;
}

.pub-book-sub-title {
    font-size: 12px;
    color: gray;  
}

.pub-book-info {
    font-size: 12px;
}

.pub-book-desc {
    font-size: 12px;
    max-width: 450px;
}

.pub-book-background-sec {
    width: 40%;
}

.pub-background-img {
    width: 100%;
}

.pub-book-buy-sec {
    padding: 5%;
    padding-top: 10px;
}

/* this is the buying section for the book  */

.pub-book-buying {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 10px;
}

.pub-book-buying-title {
    font-size: 1.5rem;
    padding: 0 0 0px 0;
}

.pub-book-buy-link-sec {
    display: flex;
    flex-direction: column;
}

.pub-book-buy-sub-title {
    font-size: 12px;
    padding: 10px 0 10px 0;
    color: gray;
}

.pub-book-buy-link-sub-sec {
    display: flex;
    align-items: center;
}

.pub-book-buy-img {
    width: 100px;
    padding: 10px 10px 10px 10px;
}

.pub-book-buy-link {
    margin: 0 0 0 20px;
}

.pub-book-buy {
    outline: none;
    border: none;
    padding: 6px 15px;
    color: black;
    cursor: pointer;
    background-color: white;
    font-size: 12px;
    width: 100px;
    border-radius: 15px;
}

.pub-book-buy:hover {
    padding: 4px 13px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: white;
    background-color: inherit;
    border: 2px solid orange;
} 



@media screen and (max-width: 900px) {
    .pub-page {
        display: grid;
        grid-template-rows: repeat(2, minmax(0, 1fr));
    }

    .pub-page-img-sec {
        margin: auto;
        align-items: center;
        width: 100%;
    }

    .pub-page-img {
        max-width: 550px;
        max-height: 550px;
    }

    .pub-page-title-sec {
        padding: 10%;
    }

    .pub-page-sub-title {
        font-size: 0.7rem;
        color: gray;
    }
    
    .pub-page-title {
        font-size: 2rem;
        
    }
    
    .pub-buy-sec {
        display: flex;

        text-decoration: none;
    }
    
    .fa-cart-shopping {
        font-size: 1.5rem;
        padding-right: 10px;
    }
    
    .pub-buy {
        display: flex;
        outline: none;
        border: none;
        align-items: center;
        padding: 10px 15px;
        color: white;
        cursor: pointer;
        background-color: black;
        font-size: 12px;
        border-radius: 30px;
    }

    .pub-buy:hover {
        display: flex;
        outline: none;
        border: none;
        align-items: center;
        padding: 10px 15px;
        color: white;
        cursor: pointer;
        background-color: black;
        font-size: 12px;
        border-radius: 30px;
    }

    /* this is the anthologies section */

    .pub-book-sec {
        flex-direction: column;
    }

    .pub-books {
        font-size: 2rem;
    }

    .pub-book {
        width: fit-content;
        flex-direction: column;
        align-items: center;
    }

    .pub-book-title {
        padding: 0px 0 10px 0;
    }
    
    .pub-book-owner {
        padding: 0px 0 10px 0;
    }

    .pub-book-buying {
        padding: 0;
    }
}



