.LoadingScreen {
    background: black;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: auto;
}

@keyframes opacity{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.text {
    font-size: 5rem;
    padding: 2rem;
    animation: all 3s ease-in;
    overflow: hidden;
    font-family: 'Cookie', cursive;
    font-weight: 500;
    animation: opacity 1s ease-in-out;
}

@media screen and (max-width: 1000px) {
    .text {
        font-size: 3rem;
        padding: 2rem;
    }
}