.navbar {
  background: black;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 5;
  color: white;
  transition: top 0.5s;
}

.navbar-logo {
  color: white;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 6vh;
  font-family: 'Cookie', cursive;
}

.navbar-logo-img {
  height: 5vh;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 65vw;
  justify-content: end;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 20px 0px 20px 0px;
  margin: 0 1rem;
  display: inline-block;
  position: relative;
}

.nav-links::before {
  transition: 300ms;
  height: 4px;
  content: "";
  position: absolute;
  background-color: #FC6D6D;
}

.nav-link-fade-up::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-fade-up:hover::before {
  width: 100%;
}

.active::before {
  width: 100%;
  bottom: 10px;
}

.fa-bars {
  color: white;
}

.nav-links-mobile {
  display: none;
}

.contact-button {
  padding: 9px 25px;
  margin-left: 16px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 18px;
  color: black;
  cursor: pointer;
  background-color: white;
}

.contact-button:hover {
  padding: 6px 22px;
  border-radius: 20px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: white;
  background-color: black;
  border: 3px solid #FC6D6D;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 1400px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 90vh;
    position: fixed;
    top: 10vh;
    left: -100%;
    opacity: 1;
    z-index: 5;
    grid-gap: 0px;
    transition: all 0.5s ease;
  }

  .nav-item {
    border: none;
    overflow: hidden;
  }

  .nav-active {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 90vh;
    position: fixed;
    top: 10vh;
    left: 0;
    opacity: 1;
    z-index: 5;
    transition: all 0.5s ease;
  }

  .navbar-logo {
    padding: 0;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    margin: 0;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #FC6D6D;
  }
  
  .nav-link-fade-up:hover::before {
    width: 0%;
  }

  .active::before {
    width: 0%;
  }

  .active {
    background-color: #FC6D6D;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 3vh;
    right: 3vw;
    font-size: 4vh;
    cursor: pointer;
  }

  .fa-xmark {
    color: #fff;
  }  

  .nav-links-mobile {
    display: table;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    list-style: none;
    padding: 2rem;
  }

  .nav-links-mobile:hover {
    background-color: gray;
    border-radius: 4px;
    padding: 2rem;
    transition: 250ms;
  }

  .contact-button {
    display: none;
  }
}